@font-face {
  font-family: MrtBodyFont;
  src: url("/fonts/nexa/Nexa_Light.otf");
}

@font-face {
  font-family: MrtTitleFont;
  src: url("/fonts/bebas/bebas_neue_regular.ttf");
  font-weight: bold;
}


html {
  overflow-x: hidden;
}

body { 
  font-family: MrtBodyFont, Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #000;

  background-color: #87a8cb;
  overflow-x: hidden;
}

.title, h1, h2, h3, h4, .pagination {
  color: #443;
  font-family: MrtTitleFont, "Abadi MT Condensed Light", "Avenir Next Condensed", "Arial Narrow", Haettenschweiler, Consolas, sans-serif;
  font-weight: normal !important;
  text-transform: uppercase;
}

p {
  line-height: 1.5em;
  padding-bottom: 0.4em;
}



a {
  color: rgba(68, 68, 51, 1);
  text-decoration: underline;
  padding: 2px;
  margin: -2px;
}

a:visited {
  color: rgba(68, 68, 51, 1);
}

a:hover {
  color: rgba(68, 68, 51, 0.7);
}



#fixedbg {
  background-image: url(/img/background_1400x850.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#wrapper {
  padding-left: 150px;

  margin: 0 40px 0 0;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 150px;
  width: 150px;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0.1s;
}

#page-content-wrapper {
  width: 100%;
  margin: 0 0 0 10px;
}



#sidebar-toggle-wrapper {
  display: none;
  margin-top: 10px
}

#sidebar-toggle i {
  color: rgba(235, 255, 255, 0.5);
  border-color: rgba(235, 255, 255, 0.5);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 200px 10px 0 10px;

  font-size: 24pt;
  font-weight: bold;
  text-align: right;

}

.sidebar-nav .active a {
  text-decoration: underline !important;
}

.sidebar-nav a {
  color: rgba(235, 255, 255, 0.5);
  text-decoration: none;
  padding: 7px 7px 0 0 !important;
  margin: 0px;
}

.sidebar-nav a:visited {
  color: rgba(235, 255, 255, 0.5);
}

.sidebar-nav li a:hover {
  color: rgba(235, 255, 255, 0.9);
  background-color: rgba(50, 75, 75, 0.5) !important;
  border-color: rgba(114, 113, 91, 0);
}



.mrt-title {
  text-align: left;
  padding: 0;
  margin: 0;
}

.mrt-title h1 {
  padding: 60px 0 50px 0;
  margin: 0;
  font-size: 64pt;
  font-weight: bold;
  /*background: rgba(255, 255, 255, 0.0);*/
  color: rgba(235, 255, 255, 0.5);
}



.mrt-panel {
  background: rgba(235, 255, 255, 0.70);
  border: 0px;
  border-radius: 0px;
}



.mrt-section {
  padding: 25px 25px 45px 25px;
}

.mrt-section h1 {
  font-weight: bold;
  font-size: 36pt;
}

.mrt-section h1 a {
  text-decoration: none;
  color: #000;
}

.mrt-section .meta {
  padding-left: 20px;
  font-style: italic;
  font-size: 10pt;
  font-weight: normal;
}

.mrt-section p {
  font-size: 12pt;
  font-weight: normal;
}


.mrt-section img {
    width: 100%;
}

.mrt-section ul li {
  font-size: 12pt;
  font-weight: normal;
}



.mrt-headshot {
  float: left !important;
  width: 120px !important;
  height: 120px !important;
  margin-right: 15px;
  margin-bottom: 10px;
}



.connect-link-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}

.connect-link {
  padding: 15px;
}

.connect-link i {
  color: rgba(68, 68, 51, .7);
  border-color: rgba(68, 68, 51, .7);
  /*color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);*/
}

.connect-link a:hover i {
  color: rgba(68, 68, 51, .5);
  border-color: rgba(68, 68, 51, .5);
}



.pagination {
  font-weight: bold;
  font-size: 24pt;
  width: 100%;
}

.pagination em {
  font-style: normal;
}





@media (max-width:767px) {
  #fixedbg {
    background-image: url(/img/background_375x770.jpg);
  }

  #wrapper {
    padding-left: 0;
    margin: 0 20px 0 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 150px;
  }

  #sidebar-wrapper.active {
    left: 150px;
    width: 150px;
  }

  #sidebar-toggle-wrapper {
    display: block;
    padding-bottom: 20px;
  }

  .sidebar-nav {
    padding: 5px 10px 0 10px;
  }

  .mrt-section {
    padding: 10px 10px 20px 10px;
  }

  .connect-link-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .connect-link {
    padding: 5px;
  }
}
