html {
    overflow-x:hidden;
}

body { 
  /*font-family: "Trebuchet MS", Arial, sans-serif;*/
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

  background-color: #87A8CB;
  overflow-x:hidden;

  padding-top: 50px; 
}

#fixedbg {
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-position: top left;
  height:100%;
  position:fixed;
  width:100%;
  z-index:-1;
}

.navbar {
  font-size: 18px;
}

.navbar-brand {
  font-size: 24px;
}


.mrt-panel {
  background: rgba(255, 255, 255, 0);
  border: 0px;
  border-radius: 0px;

  /* webkit */
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(232, 218, 231, 0.5)),
    to(rgba(232, 218, 231, 0.3))
  );

  /* mozilla - FF3.6+ */
  background-image: -moz-linear-gradient(
    top left,
    rgba(232, 218, 231, 0.5) 50%, rgba(232, 218, 231, 0.3) 30%
  );

  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColorStr=#E8DAE7
  );

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColoStr=#E8DAE7
  );
}

.mrt-section {
  padding: 25px 25px 45px 25px;
}

.mrt-section img {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.mrt-section p {
  font-size: 16px;
  font-weight: normal;
}
