@font-face {
  font-family: MrtBodyFont;
  src: url("/fonts/nexa/Nexa_Light.otf");
}

@font-face {
  font-family: MrtTitleFont;
  src: url("/fonts/bebas/bebas_neue_regular.ttf");
  font-weight: bold;
}


html {
  overflow-x: hidden;
}

body { 
  font-family: MrtBodyFont, Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #000;

  background-color: #87a8cb;
  overflow-x: hidden;
}

.title, h1, h2, h3, h4 {
  font-family: MrtTitleFont, "Abadi MT Condensed Light", "Avenir Next Condensed", "Arial Narrow", Haettenschweiler, Consolas, sans-serif;
  font-weight: normal !important;
  text-transform: uppercase;
}

p {
  line-height: 1.5em;
  padding-bottom: 0.4em;
}

#fixedbg {
  background-image: url(/img/background_1400x850.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#wrapper {
  padding-left: 150px;
  transition: all 0.4s ease 0.1s;

  margin: 0 40px 0 0;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 150px;
  width: 150px;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0.1s;
}

#page-content-wrapper {
  width: 100%;
  margin: 0 0 0 10px;
}

#sidebar-toggle-wrapper {
  display: none;
  margin-top: 10px
}

#sidebar-toggle i {
  color: rgba(235, 255, 255, 0.5);
  border-color: rgba(235, 255, 255, 0.5);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 200px 10px 0 10px;

  font-size: 24pt;
  font-weight: bold;
  text-align: right;

}

.sidebar-nav .active a {
  text-decoration: underline !important;
}

.sidebar-nav a {
  color: rgba(235, 255, 255, 0.5);
  text-decoration: none;
  padding: 7px 7px 0 0 !important;
  margin: 0px;
}

.sidebar-nav a:visited {
  color: rgba(235, 255, 255, 0.5);
}

.sidebar-nav li a:hover {
  background-color: rgba(50, 75, 75, 0.5) !important;
}

.sidebar-nav li a:focus {
  background-color: rgba(50, 75, 75, 0.5) !important;
}


.mrt-title {
  text-align: left;
  padding: 0;
  margin: 0;
}

.mrt-title h1 {
  padding: 60px 0 50px 0;
  margin: 0;
  font-size: 64pt;
  font-weight: bold;
  /*background: rgba(255, 255, 255, 0.0);*/
  color: rgba(235, 255, 255, 0.5);
}

.mrt-panel {
  background: rgba(235, 255, 255, 0);
  border: 0px;
  border-radius: 0px;

  /* webkit */
  background-image: -webkit-gradient(
    /*
    linear, left top, left bottom, from(rgba(232, 218, 231, 0.5)),
    to(rgba(232, 218, 231, 0.3))
    */
    linear, left top, left bottom, from(rgba(235, 255, 255, 0.5)),
    to(rgba(235, 255, 255, 0.5))
  );

  /* mozilla - FF3.6+ */
  background-image: -moz-linear-gradient(
    top left,
    rgba(232, 218, 231, 0.5) 50%, rgba(232, 218, 231, 0.3) 30%
  );

  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColorStr=#E8DAE7
  );

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColoStr=#E8DAE7
  );
}

.mrt-section {
  padding: 25px 25px 45px 25px;
}

.mrt-section img {
  width: 100%;
}

.mrt-section h1 {
  font-weight: bold;
  font-size: 36pt;
}

.mrt-section p {
  font-size: 18px;
  font-weight: normal;
}

.mrt-section ul li {
    font-size: 18px;
    font-weight: normal;
}

.mrt-headshot {
  float: left !important;
  width: 120px !important;
  height: 120px !important;
  margin-right: 15px;
  margin-bottom: 10px;
}

a {
  color: #72715b;
  text-decoration: underline;
}

a:visited {
  color: #62614b;
}

.connect-link-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}

.connect-link {
  padding: 15px;
}

.connect-link i {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.connect-link a:hover i {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.connect-link a:focus i {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}



@media (max-width:767px) {
  #fixedbg {
    background-image: url(/img/background_375x770.jpg);
  }

  #wrapper {
    padding-left: 0;
    margin: 0 20px 0 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 150px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all 0.4s ease 0.1s;
  }

  #sidebar-toggle-wrapper {
    display: block;
    padding-bottom: 20px;
  }

  .sidebar-nav {
    padding: 5px 10px 0 10px;
  }

  .mrt-section {
    padding: 10px 10px 20px 10px;
  }

  .connect-link-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .connect-link {
    padding: 5px;
  }
}
