html {
}

body { 
  font-family: "Trebuchet MS", Arial, sans-serif;

  background-image: url(/img/background.jpg);
  background-color: #87A8CB;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  padding-top: 50px; 
}

@media only all and (max-width: 1440px) and (max-height: 1050px) {
  body {
    background-size: 1440px 1050px;
    -moz-background-size: 1440px 1050px;
    -webkit-background-size: 1440px 1050px;
  }
}

@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
  body {
    -webkit-background-size: auto 100%;
  }
}
 
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
  body {
    -webkit-background-size: 100% auto;
  }
}

.mrt-panel {
  background: rgba(255, 255, 255, 0);
  border: 0px;
  border-radius: 0px;

  /* webkit */
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(232, 218, 231, 0.5)),
    to(rgba(232, 218, 231, 0.3))
  );

  /* mozilla - FF3.6+ */
  background-image: -moz-linear-gradient(
    top center,
    rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
  );

  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColorStr=#FFFFFF
  );

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColoStr=#FFFFFF
  );
}

.mrt-section {
  padding: 25px 25px 45px 25px;
}

.mrt-section img {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.mrt-section p {
  font-size: 14px;
  font-weight: normal;
}
