body { 
  font-family: "Trebuchet MS", Arial, sans-serif;

  padding-top: 50px; 
}

#background-layer {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(/img/background.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
}

.mrt-panel {
  background: rgba(255, 255, 255, 0);
  border: 0px;
  border-radius: 0px;

  /* webkit */
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(232, 218, 231, 0.5)),
    to(rgba(232, 218, 231, 0.3))
  );

  /* mozilla - FF3.6+ */
  background-image: -moz-linear-gradient(
    top center,
    rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
  );

  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColorStr=#FFFFFF
  );

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=0, startColor=0, endColoStr=#FFFFFF
  );
}

.mrt-section {
  padding: 25px 25px 45px 25px;
}

.mrt-section img {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.mrt-section p {
  font-size: 14px;
  font-weight: normal;
}
