---
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% capture num_words %}
  {{ site_tags | split:',' | size }}
{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

{
{% for item in (0..num_words) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  "{{ this_word }}": [
    {% for post in site.tags[this_word] %}{% if post.title != null %}
    ["{{ post.url }}","{{ post.title | escape }}","{{ post.date | date_to_xmlschema }}"]{% unless forloop.last %},{% endunless %}
    {% endif %}{% endfor %}
  ]{% unless forloop.rindex == 2 %},{% endunless %}
{% endunless %}{% endfor %}
}